<div class="container">
  <h2 class="my-4 text-center">Liste des cocktails</h2>
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
    <div class="card shadow-sm mx-2 my-3 card-move" style="width: 18rem;">
      <%= image_tag 'cocktail.jpg', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
      </div>
    </div>
    <% end %>
  </div>
</div>
