.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(117, 190, 218, 0.0);
  display: flex;
    .nav-link {
      color: white !important;
      border: white solid 1px;
      border-radius: 6px;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
